[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp
[submodule "third_party/OpenXR-SDK"]
	path = third_party/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
